In [134]:
# 1. import numpy library
import numpy as np

# Working with subjectA.csv

In [135]:
# 2. Load subjectA.csv files as numpy array
subjectA = np.genfromtxt('subjectA.csv',delimiter=',',names=True,dtype=None,encoding='utf-8')

In [136]:
# 3. Display the array
print(subjectA)

[(65070068, ' Miss NATTAKAMON  JAIMETHA', 81.54)
 (67070004, ' Mr. KRIDSANAI  TEERAPRAPCHAISRI', 66.35)
 (67070005, ' Mr. KAWEEWAT  SANONKULLAWAT', 66.49)
 (67070013, ' Mr. KRAIDEACH  KONGKANPAI', 71.34)
 (67070022, ' Mr. JIRAYU  TIPUN', 71.79)
 (67070028, ' Miss CHOMPHUFAH  MEECHAI', 72.33)
 (67070035, ' Mr. CHAWANWIT  THANATON', 65.82)
 (67070047, ' Mr. NATTHAKORN  SRISUWARAPORN', 70.23)
 (67070048, ' Miss NUTKRITTA  WUNGWISET', 77.27)
 (67070049, ' Mr. NATTACHAI  KAEWCHUM', 71.21)
 (67070052, ' Mr. NATTAWAT  SATHANPONG', 60.98)
 (67070058, ' Mr. TANAKRIT  PRAMAYA', 77.01)
 (67070063, ' Mr. THANACHIN  CHUKIATCHAI', 64.7 )
 (67070068, ' Mr. THANAPAT  DACHRAKSA', 71.3 )
 (67070071, ' Mr. TANIST  MUKPROM', 76.53)
 (67070077, ' Miss THIYARAT  TECHATHUMMASERD', 66.63)
 (67070079, ' Mr. TITIPAN  SOONTORNPATHIKOM', 72.76)
 (67070080, ' Mr. THITIWAT  SOMPUNDATSKUN', 83.84)
 (67070083, ' Mr. TEERAWAT  CHUNGSAWATMEECHAI', 61.33)
 (67070086, ' Mr. NAPHAT  TONGTHAIRTHONG', 67.47)
 (67070095, ' Miss BUSSAYAMAS  SONBANKOH', 62.27)
 (67070096, ' Miss PARAPHA  RUCKTANAKUL', 76.31)
 (67070098, ' Mr. PAWARIT  PANSING', 66.8 )
 (67070101, ' Miss PIYATHIDA  JUNTHARAOUICHAI', 74.32)
 (67070103, ' Mr. PONGSAKORN  PANYACOM', 82.99)
 (67070104, ' Mr. PATCHARA  PONGVECH', 60.84)
 (67070112, ' Miss PATNAGAN  KACHAWUTHAKORN', 63.03)
 (67070113, ' Mr. PATHIT  KASEMMONGKOLCHAI', 73.74)
 (67070116, ' Mr. PITCHAYES  YANKOSES', 87.64)
 (67070124, ' Mr. PAKAPHON  PHTHIVORN', 65.54)
 (67070125, ' Mr. PONPICHIT  CHIRANGKUL', 93.08)
 (67070127, ' Mr. PATTARAPOL  PETCHARAT', 69.69)
 (67070131, ' Miss PARADEE  PIMOLAEKAKSORN', 67.57)
 (67070135, ' Mr. PEEMPOL  KUNDILOTHANAKUL', 76.05)
 (67070140, ' Mr. PUVARIT  KONGJORN', 73.94)
 (67070141, ' Mr. PHUWIT  SAITHONG', 68.08)
 (67070147, ' Miss JAANVI  DUBEY', 70.82)
 (67070158, ' Miss WARAPHORN  SANGKHAM', 80.1 )
 (67070168, ' Mr. VEEKRIT  OWATSARN', 67.15)
 (67070171, ' Miss STHEEVARA  BANGKAE', 60.88)
 (67070176, ' Mr. SUPHANAT  NITIKARUN', 68.94)
 (67070178, ' Miss SUPISARA  LAICHAN', 87.05)
 (67070185, ' Mr. SITTICHAI  MEKKHAYAI', 76.07)
 (67070188, ' Miss SUPITCHA  NA UBON', 69.15)
 (67070190, ' Mr. SUVIJAK  KULCHATRANON', 84.04)
 (67070192, ' Miss ACHIRAYA  SAIKHAMWONG', 73.02)
 (67070195, ' Mr. ATHIBODEE  BURANAKARN', 76.62)
 (67070201, ' Miss KATAWAN  JITRAWORRAYAKUL', 71.12)
 (67070210, ' Miss JINSUTHA  BOONKITTIVASIN', 70.43)
 (67070212, ' Mr. JAROENSUP  KAEWSANGSUK', 73.02)
 (67070214, ' Miss CHAYANIN  PRECHATHAMARACH', 74.52)
 (67070219, ' Miss CHIDCHANOK  SONSUK', 77.76)
 (67070222, ' Miss CHUTIKAN  CHAOWAT', 67.76)
 (67070225, ' Miss NAPATCHA  KAEWKHAMPA', 72.49)
 (67070229, ' Miss NATNICHA  RATANO', 69.19)
 (67070232, ' Miss NEEDA  LUANDEE', 78.58)
 (67070238, ' Mr. TASCHAKORN  KITTIWANRUEK', 56.71)
 (67070257, ' Mr. PAT  PONSITTINAT', 70.59)
 (67070258, ' Miss PATTEERA  CHINDAPHAN', 77.79)
 (67070265, ' Miss PANTILA  KAMMING', 68.27)
 (67070270, ' Miss MAETAPON  MAUNGON', 81.9 )
 (67070288, ' Miss SUCHANYA  KHAMPHAENG', 91.88)
 (67070289, ' Miss ANITCHA  PRAYOTCHON', 78.35)
 (67070290, ' Miss ATINUTCH  SANTASWANG', 79.62)
 (67070291, ' Miss ANANYA  KASOSOT', 75.66)
 (67070296, ' Mr. ALONGKORN  PHETPAN', 69.84)
 (67070306, ' Mr. NORRASETH  RATTANASETHI', 76.73)
 (67070307, ' Mr. PITI  YANG', 84.77)
 (67070308, ' Mr. SUPARIN  NUMSRICHROENSUK', 72.14)]

In [277]:
# 4. Find the maximum,minimum and average score of subject A
maximum = np.max(subjectA['Score'])
minimum = np.min(subjectA['Score'])
average = np.mean(subjectA['Score'])
print(maximum,minimum,average)

93.08 56.71 72.92420289855073

In [355]:
# 5. Print fullname of student with maximum score
highest = subjectA['NameSurname'][subjectA['Score'] == maximum]
print(highest)

[' Mr. PONPICHIT  CHIRANGKUL']

In [356]:
# 6. List 10 students with highest scores
sorted_subjectA = np.sort(subjectA,order='Score')[::-1]
print(sorted_subjectA[:10])

[(67070125, ' Mr. PONPICHIT  CHIRANGKUL', 93.08)
 (67070288, ' Miss SUCHANYA  KHAMPHAENG', 91.88)
 (67070116, ' Mr. PITCHAYES  YANKOSES', 87.64)
 (67070178, ' Miss SUPISARA  LAICHAN', 87.05)
 (67070307, ' Mr. PITI  YANG', 84.77)
 (67070190, ' Mr. SUVIJAK  KULCHATRANON', 84.04)
 (67070080, ' Mr. THITIWAT  SOMPUNDATSKUN', 83.84)
 (67070103, ' Mr. PONGSAKORN  PANYACOM', 82.99)
 (67070270, ' Miss MAETAPON  MAUNGON', 81.9 )
 (65070068, ' Miss NATTAKAMON  JAIMETHA', 81.54)]

In [410]:
# 7. List 10 female students with highest scores
highest_female = sorted_subjectA[np.char.startswith(sorted_subjectA['NameSurname'],' Miss')][:10]
print(highest_female)

[(67070288, ' Miss SUCHANYA  KHAMPHAENG', 91.88)
 (67070178, ' Miss SUPISARA  LAICHAN', 87.05)
 (67070270, ' Miss MAETAPON  MAUNGON', 81.9 )
 (65070068, ' Miss NATTAKAMON  JAIMETHA', 81.54)
 (67070158, ' Miss WARAPHORN  SANGKHAM', 80.1 )
 (67070290, ' Miss ATINUTCH  SANTASWANG', 79.62)
 (67070232, ' Miss NEEDA  LUANDEE', 78.58)
 (67070289, ' Miss ANITCHA  PRAYOTCHON', 78.35)
 (67070258, ' Miss PATTEERA  CHINDAPHAN', 77.79)
 (67070219, ' Miss CHIDCHANOK  SONSUK', 77.76)]

In [510]:
# 8. Display the students' names whose scores are higher than the average score of the class
than_average = subjectA[subjectA['Score']>average]
print(than_average['NameSurname'])

[' Miss NATTAKAMON  JAIMETHA' ' Miss NUTKRITTA  WUNGWISET'
 ' Mr. TANAKRIT  PRAMAYA' ' Mr. TANIST  MUKPROM'
 ' Mr. THITIWAT  SOMPUNDATSKUN' ' Miss PARAPHA  RUCKTANAKUL'
 ' Miss PIYATHIDA  JUNTHARAOUICHAI' ' Mr. PONGSAKORN  PANYACOM'
 ' Mr. PATHIT  KASEMMONGKOLCHAI' ' Mr. PITCHAYES  YANKOSES'
 ' Mr. PONPICHIT  CHIRANGKUL' ' Mr. PEEMPOL  KUNDILOTHANAKUL'
 ' Mr. PUVARIT  KONGJORN' ' Miss WARAPHORN  SANGKHAM'
 ' Miss SUPISARA  LAICHAN' ' Mr. SITTICHAI  MEKKHAYAI'
 ' Mr. SUVIJAK  KULCHATRANON' ' Miss ACHIRAYA  SAIKHAMWONG'
 ' Mr. ATHIBODEE  BURANAKARN' ' Mr. JAROENSUP  KAEWSANGSUK'
 ' Miss CHAYANIN  PRECHATHAMARACH' ' Miss CHIDCHANOK  SONSUK'
 ' Miss NEEDA  LUANDEE' ' Miss PATTEERA  CHINDAPHAN'
 ' Miss MAETAPON  MAUNGON' ' Miss SUCHANYA  KHAMPHAENG'
 ' Miss ANITCHA  PRAYOTCHON' ' Miss ATINUTCH  SANTASWANG'
 ' Miss ANANYA  KASOSOT' ' Mr. NORRASETH  RATTANASETHI' ' Mr. PITI  YANG']

In [511]:
# 9. Display the MALE students' names whose scores are higher than the average score of the 
# class sorted by student-id (increasing)
male = subjectA[np.char.startswith(subjectA['NameSurname'],' Mr.')]
sorted_male = male['NameSurname'][np.argsort(male['\ufeffStudent_ID'])][male['Score']>average]
print(sorted_male)

[' Mr. TANAKRIT  PRAMAYA' ' Mr. TANIST  MUKPROM'
 ' Mr. THITIWAT  SOMPUNDATSKUN' ' Mr. PONGSAKORN  PANYACOM'
 ' Mr. PATHIT  KASEMMONGKOLCHAI' ' Mr. PITCHAYES  YANKOSES'
 ' Mr. PONPICHIT  CHIRANGKUL' ' Mr. PEEMPOL  KUNDILOTHANAKUL'
 ' Mr. PUVARIT  KONGJORN' ' Mr. SITTICHAI  MEKKHAYAI'
 ' Mr. SUVIJAK  KULCHATRANON' ' Mr. ATHIBODEE  BURANAKARN'
 ' Mr. JAROENSUP  KAEWSANGSUK' ' Mr. NORRASETH  RATTANASETHI'
 ' Mr. PITI  YANG']

In [557]:
# 10. Display the students' names whose scores are higher than the average score of the class sorted by score (decreasing)
sorted_by_score = than_average['NameSurname'][np.argsort(than_average['Score'])]
print(sorted_by_score[::-1])

[' Mr. PONPICHIT  CHIRANGKUL' ' Miss SUCHANYA  KHAMPHAENG'
 ' Mr. PITCHAYES  YANKOSES' ' Miss SUPISARA  LAICHAN' ' Mr. PITI  YANG'
 ' Mr. SUVIJAK  KULCHATRANON' ' Mr. THITIWAT  SOMPUNDATSKUN'
 ' Mr. PONGSAKORN  PANYACOM' ' Miss MAETAPON  MAUNGON'
 ' Miss NATTAKAMON  JAIMETHA' ' Miss WARAPHORN  SANGKHAM'
 ' Miss ATINUTCH  SANTASWANG' ' Miss NEEDA  LUANDEE'
 ' Miss ANITCHA  PRAYOTCHON' ' Miss PATTEERA  CHINDAPHAN'
 ' Miss CHIDCHANOK  SONSUK' ' Miss NUTKRITTA  WUNGWISET'
 ' Mr. TANAKRIT  PRAMAYA' ' Mr. NORRASETH  RATTANASETHI'
 ' Mr. ATHIBODEE  BURANAKARN' ' Mr. TANIST  MUKPROM'
 ' Miss PARAPHA  RUCKTANAKUL' ' Mr. SITTICHAI  MEKKHAYAI'
 ' Mr. PEEMPOL  KUNDILOTHANAKUL' ' Miss ANANYA  KASOSOT'
 ' Miss CHAYANIN  PRECHATHAMARACH' ' Miss PIYATHIDA  JUNTHARAOUICHAI'
 ' Mr. PUVARIT  KONGJORN' ' Mr. PATHIT  KASEMMONGKOLCHAI'
 ' Mr. JAROENSUP  KAEWSANGSUK' ' Miss ACHIRAYA  SAIKHAMWONG']

In [660]:
# 11. Compute score histogram of 10 bins from 40 - 100
histogram = np.histogram(subjectA['Score'],bins=10,range=(40,100))
print(histogram)

(array([ 0,  0,  1,  6, 18, 20, 16,  6,  2,  0], dtype=int64), array([ 40.,  46.,  52.,  58.,  64.,  70.,  76.,  82.,  88.,  94., 100.]))

In [661]:
# 12. Visualize the score histogram

# Working with subjectA and subjectB.csv

In [662]:
# 13. Load subjectB.csv files as numpy array
subjectB = np.genfromtxt('subjectB.csv',delimiter=',',names=True,dtype=None,encoding='utf-8')

In [663]:
# 14. Display the array
print(subjectB)

[(67070192, ' ACHIRAYA  SAIKHAMWONG',  62.5 )
 (67070296, ' ALONGKORN  PHETPAN',  67.19)
 (67070291, ' ANANYA  KASOSOT',  60.07)
 (67070289, ' ANITCHA  PRAYOTCHON',  60.68)
 (67070195, ' ATHIBODEE  BURANAKARN',  63.38)
 (67070290, ' ATINUTCH  SANTASWANG',  72.14)
 (67070095, ' BUSSAYAMAS  SONBANKOH',  66.44)
 (67070035, ' CHAWANWIT  THANATON',  67.53)
 (67070214, ' CHAYANIN  PRECHATHAMARACH',  55.  )
 (67070219, ' CHIDCHANOK  SONSUK',  60.93)
 (67070028, ' CHOMPHUFAH  MEECHAI',  73.56)
 (67070222, ' CHUTIKAN  CHAOWAT',  64.51)
 (67070147, ' JAANVI  DUBEY',  57.3 )
 (67070212, ' JAROENSUP  KAEWSANGSUK',  60.93)
 (67070210, ' JINSUTHA  BOONKITTIVASIN',  59.91)
 (67070022, ' JIRAYU  TIPUN',  56.61)
 (67070201, ' KATAWAN  JITRAWORRAYAKUL',  74.64)
 (67070005, ' KAWEEWAT  SANONKULLAWAT',  89.17)
 (67070013, ' KRAIDEACH  KONGKANPAI',  63.68)
 (67070004, ' KRIDSANAI  TEERAPRAPCHAISRI',  78.63)
 (67070270, ' MAETAPON  MAUNGON',  83.36)
 (67070225, ' NAPATCHA  KAEWKHAMPA',  69.38)
 (67070086, ' NAPHAT  TONGTHAIRTHONG',  69.53)
 (67070229, ' NATNICHA  RATANO',  68.2 )
 (67070049, ' NATTACHAI  KAEWCHUM',  61.26)
 (65070068, ' NATTAKAMON  JAIMETHA',  67.04)
 (67070052, ' NATTAWAT  SATHANPONG',  59.89)
 (67070047, ' NATTHAKORN  SRISUWARAPORN',  83.44)
 (67070232, ' NEEDA  LUANDEE',  59.61)
 (67070306, ' NORRASETH  RATTANASETHI',  63.57)
 (67070048, ' NUTKRITTA  WUNGWISET',  60.92)
 (67070124, ' PAKAPHON  PHTHIVORN',  73.89)
 (67070265, ' PANTILA  KAMMING',  77.09)
 (67070131, ' PARADEE  PIMOLAEKAKSORN',  73.86)
 (67070096, ' PARAPHA  RUCKTANAKUL',  69.2 )
 (67070257, ' PAT  PONSITTINAT',  57.49)
 (67070104, ' PATCHARA  PONGVECH',  58.45)
 (67070113, ' PATHIT  KASEMMONGKOLCHAI',  67.56)
 (67070112, ' PATNAGAN  KACHAWUTHAKORN',  67.14)
 (67070127, ' PATTARAPOL  PETCHARAT',  69.12)
 (67070258, ' PATTEERA  CHINDAPHAN',  76.59)
 (67070098, ' PAWARIT  PANSING',  70.14)
 (67070135, ' PEEMPOL  KUNDILOTHANAKUL',  65.49)
 (67070141, ' PHUWIT  SAITHONG',  69.82)
 (67070116, ' PITCHAYES  YANKOSES',  63.36)
 (67070307, ' PITI  YANG',  59.1 )
 (67070101, ' PIYATHIDA  JUNTHARAOUICHAI',  66.46)
 (67070103, ' PONGSAKORN  PANYACOM',  85.  )
 (67070125, ' PONPICHIT  CHIRANGKUL',  64.5 )
 (67070140, ' PUVARIT  KONGJORN',  60.85)
 (67070185, ' SITTICHAI  MEKKHAYAI',  70.3 )
 (67070171, ' STHEEVARA  BANGKAE',  76.64)
 (67070288, ' SUCHANYA  KHAMPHAENG',  67.01)
 (67070308, ' SUPARIN  NUMSRICHROENSUK',  68.25)
 (67070176, ' SUPHANAT  NITIKARUN',  75.92)
 (67070178, ' SUPISARA  LAICHAN',  75.09)
 (67070188, ' SUPITCHA  NA UBON',  65.04)
 (67070190, ' SUVIJAK  KULCHATRANON',  64.12)
 (67070058, ' TANAKRIT  PRAMAYA',  58.01)
 (67070071, ' TANIST  MUKPROM',  76.06)
 (67070238, ' TASCHAKORN  KITTIWANRUEK',  60.63)
 (67070083, ' TEERAWAT  CHUNGSAWATMEECHAI', 100.  )
 (67070063, ' THANACHIN  CHUKIATCHAI',  72.16)
 (67070068, ' THANAPAT  DACHRAKSA',  58.37)
 (67070080, ' THITIWAT  SOMPUNDATSKUN',  64.13)
 (67070077, ' THIYARAT  TECHATHUMMASERD',  63.41)
 (67070079, ' TITIPAN  SOONTORNPATHIKOM',  76.85)
 (67070168, ' VEEKRIT  OWATSARN',  65.8 )
 (67070158, ' WARAPHORN  SANGKHAM',  81.95)]

In [664]:
# 15. Create an 70x4 array of student-id, student-name, score from subject A and score from subject B of all students

In [668]:
# 16. Find the students who has higher score from subject A than subject B
sorter = subjectA['Score'] > subjectB['Score']
ans = subjectA['NameSurname'][sorter]
print(ans)

[' Miss NATTAKAMON  JAIMETHA' ' Mr. KAWEEWAT  SANONKULLAWAT'
 ' Mr. KRAIDEACH  KONGKANPAI' ' Mr. JIRAYU  TIPUN'
 ' Miss CHOMPHUFAH  MEECHAI' ' Mr. NATTHAKORN  SRISUWARAPORN'
 ' Miss NUTKRITTA  WUNGWISET' ' Mr. NATTACHAI  KAEWCHUM'
 ' Mr. TANAKRIT  PRAMAYA' ' Mr. THANACHIN  CHUKIATCHAI'
 ' Mr. THANAPAT  DACHRAKSA' ' Mr. TANIST  MUKPROM'
 ' Miss THIYARAT  TECHATHUMMASERD' ' Miss PARAPHA  RUCKTANAKUL'
 ' Miss PIYATHIDA  JUNTHARAOUICHAI' ' Mr. PONGSAKORN  PANYACOM'
 ' Miss PATNAGAN  KACHAWUTHAKORN' ' Mr. PITCHAYES  YANKOSES'
 ' Mr. PAKAPHON  PHTHIVORN' ' Mr. PONPICHIT  CHIRANGKUL'
 ' Mr. PEEMPOL  KUNDILOTHANAKUL' ' Mr. PUVARIT  KONGJORN'
 ' Mr. PHUWIT  SAITHONG' ' Miss JAANVI  DUBEY' ' Miss WARAPHORN  SANGKHAM'
 ' Mr. VEEKRIT  OWATSARN' ' Miss SUPISARA  LAICHAN'
 ' Mr. SITTICHAI  MEKKHAYAI' ' Mr. SUVIJAK  KULCHATRANON'
 ' Miss ACHIRAYA  SAIKHAMWONG' ' Mr. ATHIBODEE  BURANAKARN'
 ' Miss JINSUTHA  BOONKITTIVASIN' ' Mr. JAROENSUP  KAEWSANGSUK'
 ' Miss CHAYANIN  PRECHATHAMARACH' ' Miss CHIDCHANOK  SONSUK'
 ' Miss CHUTIKAN  CHAOWAT' ' Miss NAPATCHA  KAEWKHAMPA'
 ' Miss NEEDA  LUANDEE' ' Mr. PAT  PONSITTINAT'
 ' Miss PATTEERA  CHINDAPHAN' ' Miss MAETAPON  MAUNGON'
 ' Miss ANITCHA  PRAYOTCHON' ' Miss ATINUTCH  SANTASWANG'
 ' Miss ANANYA  KASOSOT' ' Mr. ALONGKORN  PHETPAN' ' Mr. PITI  YANG']

In [669]:
# 17. Display the students who has higher score than the average in both subject
avg = np.mean(B['score'])
above = [i for i in scoreA if i > avg]
print(above)

[81.54, 71.34, 71.79, 72.33, 70.23, 77.27, 71.21, 77.01, 71.3, 76.53, 72.76, 83.84, 76.31, 74.32, 82.99, 73.74, 87.64, 93.08, 69.69, 76.05, 73.94, 68.08, 70.82, 80.1, 68.94, 87.05, 76.07, 69.15, 84.04, 73.02, 76.62, 71.12, 70.43, 73.02, 74.52, 77.76, 72.49, 69.19, 78.58, 70.59, 77.79, 68.27, 81.9, 91.88, 78.35, 79.62, 75.66, 69.84, 76.73, 84.77, 72.14]

In [670]:
# 18. Calculate the letter-grade from score of subject A and subject B, and display them where
# A: Scores greater than 90.
# B+: Scores between 81 and 90 (inclusive).
# B: Scores between 71 and 80 (inclusive).
# C+: Scores between 66 and 70 (inclusive).
# C: Scores between 61 and 65 (inclusive).
# D+: Scores between 56 and 60 (inclusive).
# D: Scores between 50 and 55 (inclusive).
# F: Scores less than 50.
def cal(s):
    con = [
        (s>=90),
        (s>=81),
        (s>=71),
        (s>=66),
        (s>=61),
        (s>=56),
        (s>=50),
        (s<50)
    ]
    return con
grade = ['A','B+','B','C+','C','D+','D','F']
ans = np.select(subjectA['Score'],grade)

NameError: name 'A' is not defined

# Working with subjectA, subjectB.csv and subjectC.csv

In [647]:
# 19. Load subjectC.csv files as numpy array
subjectC = np.genfromtxt('subjectC.csv',delimiter=',',names=True,dtype=None,encoding='utf-8')

In [648]:
# 20. Display the array
print(subjectC)

[(67070296, 'A') (67070291, 'A') (67070289, 'A') (67070195, 'A')
 (67070214, 'A') (67070219, 'A') (67070210, 'A') (67070022, 'A')
 (67070201, 'A') (67070270, 'A') (67070086, 'A') (65070068, 'A')
 (67070052, 'A') (67070047, 'A') (67070232, 'A') (67070265, 'A')
 (67070131, 'A') (67070096, 'A') (67070104, 'A') (67070113, 'A')
 (67070112, 'A') (67070127, 'A') (67070098, 'A') (67070135, 'A')
 (67070141, 'A') (67070116, 'A') (67070103, 'A') (67070185, 'A')
 (67070171, 'A') (67070288, 'A') (67070308, 'A') (67070178, 'A')
 (67070083, 'A') (67070080, 'A') (67070077, 'A') (67070168, 'A')
 (67070158, 'A') (67070290, 'B') (67070222, 'B') (67070004, 'B')
 (67070306, 'B') (67070257, 'B') (67070238, 'B') (67070063, 'B')
 (67070192, 'B+') (67070095, 'B+') (67070147, 'B+') (67070212, 'B+')
 (67070005, 'B+') (67070013, 'B+') (67070225, 'B+') (67070229, 'B+')
 (67070049, 'B+') (67070048, 'B+') (67070258, 'B+') (67070101, 'B+')
 (67070125, 'B+') (67070140, 'B+') (67070176, 'B+') (67070188, 'B+')
 (67070190, 'B+') (67070058, 'B+') (67070071, 'B+') (67070068, 'B+')
 (67070079, 'B+') (67070124, 'C') (67070028, 'C+') (67070307, 'C+')
 (67070035, 'D+')]

In [649]:
# 21. Calculate the histogram of grade letter (8-bins) of subject C for male and female students

In [650]:
# 22. Visualize the score histogram of subject C: male students

In [651]:
# 23. Visualize the score histogram of subject C: female students

In [652]:
# 24. Compute the GPA of each students and display student-id, name and GPA, sorted by student-id (increasing)
# Where A=4.00, B+=3.50, B=3.00, C+=2.50, C=2.00, D+=1.50, D=1.00 and F=0

25. จากคะแนนของนักศึกษาทั้ง 3 วิชา ให้นศ. 

การวิเคราะห์และระบุลักษณะ:
- วิเคราะห์ลักษณะของการกระจายคะแนนของแต่ละวิชา
- สันนิษฐานประเภทของการกระจายคะแนน สำหรับแต่ละวิชาโดยอ้างอิงจากความรู้ที่มีเกี่ยวกับการกระจายคะแนน
- อธิบายว่าการกระจายคะแนนเหล่านี้แสดงให้เห็นถึงอะไรบ้างเกี่ยวกับ:
    - ระดับความยากของรายวิชา
    - ประสิทธิภาพของการสอนหรือกลยุทธ์การประเมินผล
    - ความพร้อมหรือการมีส่วนร่วมของนักเรียนในแต่ละวิชา

การให้คำแนะนำ: จากการวิเคราะห์ของนศ. ให้คำแนะนำเฉพาะเจาะจงเพื่อปรับปรุงหรือเพิ่มประสิทธิภาพการเรียนการสอนและการประเมินผลสำหรับแต่ละวิชา พิจารณาในแง่ของ:
- การปรับสมดุลระดับความยากของรายวิชา
- การสนับสนุนนักเรียนที่อ่อนหรือเก่งในรายวิชา
- การส่งเสริมแรงจูงใจ

การสะท้อนความคิด: สะท้อนความคิดว่าทำไมการทำความเข้าใจการกระจายคะแนนจึงมีความสำคัญสำหรับครู และการวิเคราะห์นี้ช่วยในการออกแบบการสอนและการเรียนรู้ที่ดีขึ้นอย่างไร